--index-url=https://pypi.org/simple/
azure-core==1.21.1
azure-identity==1.7.1
azure-nspkg==3.0.2
azure-storage-blob==12.9.0
azure-storage-nspkg==3.1.0
certifi==2021.10.8
cffi==1.15.1
chardet==4.0.0
click==7.1.2
colorama==0.4.5
cryptography==3.2.1
flask==1.1.4
idna==2.10
importlib-resources==3.2.1
isodate==0.6.1
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
msal-extensions==0.3.0
msal==1.8.0
msrest==0.6.21
oauthlib==3.1.0
openai==0.6.4
pathlib2==2.3.7.post1
portalocker==2.7.0
pycparser==2.21
pyjwt==1.7.1
python-dotenv==0.20.0
pywin32==310
requests-oauthlib==2.0.0
requests==2.25.1
six==1.17.0
tqdm==4.64.1
urllib3==1.22
werkzeug==1.0.1
zipp==1.2.0
